html {
    scrollbar-face-color: #2aff40;
    scrollbar-base-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-track-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-shadow-color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-track-piece {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    height: 30%;
    border-radius: 10px;
    background-color: #2aff40;
}

::-webkit-scrollbar-corner {
    background-color: #000000;
}

::-webkit-resizer {
    background-color: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    padding: .5em 0;
    border-bottom: solid #2aff40 .5em;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 99;
}

main {
    margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 small {
    text-transform: uppercase;
    font-size: .5em;
    color: #7F7F7F;
}

p a:not(.inline-link), .link {
    color: black;
    text-decoration: none;
    padding: .2em;
    background-color: #2aff40;
}

.reduced-link {
    text-decoration: none;
    color: #2aff40;
    padding: 0.05em 0.2em;
    background-color: #000000;
    position: relative;
}

.reduced-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15em;
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.reduced-link:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.inline-link {
    font-weight: bold;
    text-decoration: none;
    color: #0dd621;
    position: relative;
}

.inline-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15em;
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.inline-link:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

p a:hover:not(.inline-link), .link:hover {
    background-color: #0dd621;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.logo img {
    width: 5em;
}

nav p {
    margin: 0;
    padding: 0;
    text-align: end;
    margin-right: 1.3em;
}

nav {
    margin-top: -8vh;
    float: right;
}

nav ul {
    display: flex;
}

.contents, nav ul {
    list-style-type: none;
}

nav ul li {
    margin-right: 1.3em;
}

.contents, nav ul {
    padding-left: 0;
}

.contents li {
    margin-top: 1.3em;
}

nav ul li a,
.contents li a {
    color: black;
    text-decoration: none;
    padding: .4em;
    background-color: #2aff40;
    font-weight: bold;
}

nav ul li a:hover,
.contents li a:hover {
    background-color: #0dd621;
}

@media screen and (max-width: 1380px) {
    nav {
        float: none;
        margin-top: 0;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        margin-left: 1.3em;
        margin-top: .8em;
        margin-bottom: .8em;
    }

    nav p {
        float: right;
        margin-top: -8vh;
    }
}

@media print {
    nav {
        display: none;
    }
}

.sections {
    display: flex;
    justify-content: start;
    margin: 0;
}

.section {
    width: 31.33%;
    margin: 0 1em;
}

.section article {
    background-color: lightgray;
    padding: .5em;
}

.form {
    background-color: lightgray;
    padding: .5em 1em .5em .5em;
}

.form label {
    font-weight: bold;
}

.input-group {
    width: 100%;
    margin-bottom: 1em;
}

.input-group input, .input-group textarea, .input-group select {
    outline: none;
    background: none;
    border: .15em solid black;
    color: inherit;
    border-radius: 0;
    font-family: inherit;
    width: 100%;
}

.input-group select {
    box-sizing: content-box;
    display: unset;
    width: 100.8%;
}

.input-group input:focus, .input-group textarea:focus, .input-group select:focus {
    border: .15em solid dimgray;
}

.input-group textarea {
    resize: vertical;
}

.form button {
    outline: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    text-decoration: none;
    color: #2aff40;
    padding: 0.05em 0.2em;
    background-color: #000000;
    position: relative;
}

.form button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2em;
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.form button:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.section ul {
    margin: 0;
}

.section li {
    background-color: lightgray;
    padding: .5em;
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
}

.section .display:hover {
    background-color: #2aff40;
}

.section .list {
    background-color: transparent;
    cursor: initial;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.section .list:hover {
    background-color: transparent;
}

.thumbnail-wrapper {
    overflow: hidden;
    height: 20em;
    display: flex;
}

.thumbnail {
    display: block;
    z-index: 1;
    object-fit: cover;
    align-self: center;
    min-width: 100%;
    min-height: 100%;
}

.section .display a {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
}

.section li a {
    background-color: lightgray;
}

.section li a:hover {
    background-color: #2aff40;
}

.section .display:hover a {
    background-color: #2aff40;
}

.section .list a {
    z-index: 0;
    position: relative;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.section h2 {
    padding-bottom: .5em;
}

.section article h3 a {
    background-color: #2aff40;
    padding: .4em;
    text-decoration: none;
    color: black;
}

.section article h3 a:hover {
    background-color: #0dd621;
}

@media print, screen and (max-width: 1460px) {
    .sections {
        flex-direction: column;
        display: initial;
    }

    .section {
        width: 95%;
        margin: 0;
    }

    .sections .p404 .section {
        margin: auto;
    }

    .section li {
        height: 10em;
    }

    .thumbnail-wrapper {
        height: 10em;
    }
}

.right {
    float: right;
    margin-top: -5vh;
}

table {
    border-collapse: collapse;
}

.key tr td:first-child {
    font-weight: bold;
}

table:not(.periodic_table):not(.key) {
    width: 100%;
}

.emission_spectrum {
    width: 20em;
}

@media screen and (max-width: 1460px) {
    .emission_spectrum {
        width: 8em;
    }

    .element {
        margin-bottom: 2em;
    }
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #7F7F7F;
    color: #FFFFFF;
}

.hazards {
    background-color: #fdc134;
    color: #000000;
}

table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.key td {
    border: none;
}

.section table h2 {
    padding: 0;
}

@media print {
    table {
        width: 100%;
    }

    table img {
        max-width: 100%;
    }
}

.periodic_table {
    margin-left: auto;
    margin-right: auto;
}

.periodic_table td {
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    padding: 0;
}

table.periodic_table td:hover:not(.exception) {
    background-color: #2aff40;
}

.periodic_table .exception {
    border: none;
    cursor: initial;
}

.periodic_table .break-start {
    height: inherit;
    width: inherit;
}

.periodic_table .break-end {
    border-left: 5px solid black;
    height: inherit;
    width: inherit;
}

.periodic_table_img {
    width: 100%
}

@media print {
    .periodic_table_div {
        display: flex;
        justify-content: center;
    }

    .periodic_table_img {
        height: 90vh;
        width: auto;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.center {
    display: block;
}

.hidden {
    display: none;
}

img.key {
    width: 20%;
}

@media screen and (max-width: 560px) {
    .resp-hide, nav p {
        display: none;
    }

    header {
        position: relative;
    }

    img.key {
        width: 95%;
    }
}

@media print {
    .print-hide {
        display: none;
    }

    p a, .link {
        padding: 0;
        background-color: initial;
    }
}