html {
    scrollbar-face-color: #2aff40;
    scrollbar-base-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-track-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-shadow-color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-track-piece {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    height: 30%;
    border-radius: 10px;
    background-color: #2aff40;
}

::-webkit-scrollbar-corner {
    background-color: #000000;
}

::-webkit-resizer {
    background-color: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    padding: .5em 0;
    border-bottom: solid #2aff40 .5em;
    position: fixed;
    position: sticky;
    top: 0;
}

main {
    margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p a {
    color: black;
    text-decoration: none;
    padding: .2em;
    background-color: #2aff40;
}

p a:hover {
    background-color: #0dd621;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: fit-content;
}

nav p {
    margin: 0;
    padding: 0;
    text-align: end;
    margin-right: 1.3em;
}

nav {
    margin-top: -8vh;
    float: right;
}

nav ul {
    display: flex;
}

.contents, nav ul {
    list-style-type: none;
}

nav ul li {
    margin-right: 1.3em;
}

.contents, nav ul {
    padding-left: 0;
}

.contents li {
    margin-top: 1.3em;
}

nav ul li a,
.contents li a {
    color: black;
    text-decoration: none;
    padding: .4em;
    background-color: #2aff40;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #0dd621;
}

.home {
    display: flex;
    justify-content: space-between;
}

.welcome {
    width: 30%;
}

.news {
    width: 30%;
}

.news article {
    background-color: lightgray;
    padding: .5em;
}

.news h2 {
    padding-bottom: .5em;
}

.news article h3 a {
    background-color: #2aff40;
    padding: .4em;
    text-decoration: none;
    color: black;
}

.news article h3 a:hover {
    background-color: #0dd621;
}

.about {
    width: 30%;
}