@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

* {
    max-inline-size: none;
}

:root {
    --brand: #2AFF40;
    --brand-darker: #0DD621;
    --white: #FFFFFF;
    --black: #000000;
    --size-05: 0.05rem;
}

:target {
    background-color: #fffb00a2;
}

html {
    scrollbar-face-color: var(--brand);
    scrollbar-base-color: var(--surface-1);
    scrollbar-3dlight-color: var(--surface-1);
    scrollbar-highlight-color: var(--surface-1);
    scrollbar-track-color: var(--surface-1);
    scrollbar-arrow-color: var(--surface-1);
    scrollbar-shadow-color: var(--surface-1);
}

::-webkit-scrollbar {
    width: var(--size-2);
    height: var(--size-1);
}

::-webkit-scrollbar-button {
    background-color: var(--surface-1);
}

::-webkit-scrollbar-track {
    background-color: var(--surface-1);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--surface-1);
}

::-webkit-scrollbar-thumb {
    height: 30%;
    border-radius: 10px;
    background-color: var(--brand);
}

::-webkit-scrollbar-corner {
    background-color: var(--surface-1);
}

::-webkit-resizer {
    background-color: var(--surface-1);
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--surface-2);
    color: var(--white);
    padding: var(--size-2) 0;
    border-bottom: solid var(--brand) var(--size-2);
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 99;
}

main {
    margin: var(--size-3);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--size-fluid-4);
}

h2 {
    font-size: var(--size-fluid-3);
}

h3 {
    font-size: var(--size-fluid-2);
}

h4 {
    font-size: var(--size-fluid-1);
}

h1 small, h2 small, h3 small {
    text-transform: uppercase;
    color: var(--gray-6);
}

p a:not(.inline-link), .link {
    color: var(--black);
    text-decoration: none;
    padding: var(--size-1);
    background-color: var(--brand);
}

.reduced-link {
    text-decoration: none;
    color: var(--brand);
    padding: var(--size-05) var(--size-1);
    background-color: var(--black);
    position: relative;
}

.reduced-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--size-1);
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.reduced-link:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.inline-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--brand-darker);
    position: relative;
}

.inline-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--size-1);
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.inline-link:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

p a:hover:not(.inline-link), .link:hover {
    background-color: var(--brand-darker);
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-1);
    width: fit-content;
}

.logo a span {
    font-size: var(--size-fluid-4);
    font-weight: var(--font-weight-9);
    line-height: var(--font-lineheight-1);
}

.logo img {
    width: var(--size-9);
    pointer-events: none;
    user-select: none;
}

nav p {
    margin: 0;
    margin-bottom: var(--size-2);
    color: var(--text-1);
    padding: 0;
    text-align: end;
    margin-right: var(--size-3);
}

nav:not(.vertical) {
    margin-bottom: var(--size-3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    display: flex;
}

nav.vertical ul {
    flex-direction: column;
}

.contents, nav ul {
    list-style-type: none;
}

nav:not(.vertical) ul li {
    margin-right: var(--size-3);
}

nav.vertical ul li {
    margin-bottom: var(--size-4);
    font-size: var(--size-4);
}

.contents, nav ul {
    padding-left: 0;
}

.contents li {
    margin-top: var(--size-4);
}

nav ul li a,
.contents li a {
    font-size: var(--size-fluid-2);
    color: var(--black);
    text-decoration: none;
    padding: var(--size-2);
    background-color: var(--brand);
    font-weight: bold;
}

nav ul li a:visited,
.contents li a:visited {
    color: var(--black);
    background-color: var(--brand);
}

nav ul li a:hover,
.contents li a:hover {
    color: var(--black);
    background-color: var(--brand-darker);
}

@media screen and (max-width: 2100px) {
    nav:not(.vertical) {
        margin-top: 0;
        display: block;
    }

    nav ul {
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: var(--size-8);
    }

    nav ul li {
        margin-left: var(--size-2);
        margin-top: var(--size-4);
    }

    nav p {
        margin-top: -8.5vh;
    }
}

@media print {
    nav {
        display: none;
    }
}

.sections {
    display: flex;
    justify-content: start;
    margin: 0;
    padding-bottom: var(--size-4);
}

.section {
    width: 31.33%;
    margin: 0 1em;
}

.section article {
    background-color: lightgray;
    padding: .5em;
}

.form:not(.element) {
    background-color: lightgray;
    padding: .5em 1em .5em .5em;
}

.form label, form label {
    font-weight: bold;
}

.input-group {
    width: 100%;
    margin-bottom: 1em;
}

.input-group input, .input-group textarea, .input-group select {
    outline: none;
    background: none;
    border: .15em solid black;
    color: inherit;
    border-radius: 0;
    font-family: inherit;
    width: 100%;
}

.input-group select {
    box-sizing: content-box;
    display: unset;
    width: 100.8%;
}

.form.element select {
    box-sizing: content-box;
    display: unset;
    width: 30em;
}


.input-group input:focus, .input-group textarea:focus, .input-group select:focus {
    border: .15em solid dimgray;
}

.input-group textarea {
    resize: vertical;
}

.form button, form button {
    outline: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    text-decoration: none;
    color: #2aff40;
    padding: 0.05em 0.2em;
    background-color: #000000;
    position: relative;
}

.form button::after, form button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2em;
    background: currentColor;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform 50ms ease-in;
    transition: transform 50ms ease-in;
    transition: transform 50ms ease-in, -webkit-transform 50ms ease-in;
}

.form button:hover::after, form button:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.section ul {
    margin: 0;
}

.section ul.particle {
    margin: 0;
    padding: 0;
}

.section li.particle {
    list-style-type: none;
}

.section li:not(.particle, .list) {
    background-color: lightgray;
    padding: var(--size-2);
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
}

.section .display:hover {
    background-color: #2aff40;
}

.thumbnail-wrapper {
    overflow: hidden;
    height: 20em;
    display: flex;
}

.thumbnail {
    display: block;
    z-index: 1;
    object-fit: cover;
    align-self: center;
    min-width: 100%;
    min-height: 100%;
}

.section .display a {
    margin: var(--size-1);
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--size-fluid-2);
}

.section li:not(.particle) a {
    background-color: lightgray;
}

.section li:not(.particle) a:hover {
    background-color: #2aff40;
}

.section .list {
    background-color: transparent;
    cursor: initial;
    display: flex;
    justify-content: space-between;
}

.section .items {
    background-color: transparent;
    cursor: initial;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.section .list:hover {
    background-color: transparent;
}

.section .display:hover a {
    background-color: #2aff40;
}

.section .list a {
    z-index: 0;
    position: relative;
    margin-bottom: .5em;
    font-size: var(--size-fluid-2);
}

.section .list a.spacer {
    background-color: transparent;
    cursor: default;
}

.section h2 {
    padding-bottom: .5em;
}

.section article h3 a {
    background-color: #2aff40;
    padding: .4em;
    text-decoration: none;
    color: black;
}

.section article h3 a:hover {
    background-color: #0dd621;
}

@media print, screen and (max-width: 1460px) {
    .sections {
        flex-direction: column;
        display: initial;
    }

    .section {
        width: 95%;
        margin: 0;
    }

    .sections .p404 .section {
        margin: auto;
    }

    .section li:not(.particle) {
        height: 10em;
    }

    .thumbnail-wrapper {
        height: 9em;
    }
}

.right {
    float: right;
    margin-top: -5vh;
}

table {
    border-collapse: collapse;
}

.key tr td:first-child {
    font-weight: bold;
}

table:not(.periodic_table, .standard_model):not(.key) {
    width: 100%;
}

.emission_spectrum {
    width: 20em;
}

@media screen and (max-width: 1460px) {
    .emission_spectrum {
        width: 8em;
    }

    .section .list {
        margin-bottom: 10em;
    }
}

@media print, screen and (max-width: 1460px) {
    .element {
        margin-bottom: 2em;
    }
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #7F7F7F;
    color: #FFFFFF;
}

.hazards {
    background-color: #fdc134;
    color: #000000;
}

table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.key td {
    border: none;
}

.section table h2 {
    padding: 0;
}

@media print {
    table {
        width: 100%;
    }

    table img {
        max-width: 100%;
    }
}

.periodic_table {
    margin-left: auto;
    margin-right: auto;
}

.periodic_table td, .standard_model td {
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    padding: 0;
}

.standard_model td {
    height: 100px;
    width: 100px;
}

.standard_model th {
    height: auto;
    background-color: transparent;
    color: black;
    vertical-align: bottom;
}

table.periodic_table td:hover:not(.exception), table.standard_model td:hover:not(.exception) {
    background-color: #2aff40;
}

.periodic_table .exception, .standard_model .exception {
    border: none;
    cursor: initial;
}

.periodic_table .break-start {
    height: inherit;
    width: inherit;
}

.periodic_table .break-end {
    border-left: 5px solid black;
    height: inherit;
    width: inherit;
}

.periodic_table_img {
    width: 100%
}

@media print {
    .periodic_table_div {
        display: flex;
        justify-content: center;
    }

    .periodic_table_img {
        height: 90vh;
        width: auto;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.center {
    display: block;
}

.hidden {
    display: none;
}

img.key {
    width: 20%;
}

img.nonselect {
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 880px) {
    .resp-hide, nav p {
        display: none;
    }

    nav ul {
        margin-top: var(--size-2);
    }

    header {
        position: relative;
    }

    img.key {
        width: 95%;
    }

    .section .list {
        background-color: transparent;
        cursor: initial;
        display: block;
    }
}

@media print {
    .print-hide {
        display: none;
    }

    p a, .link {
        padding: 0;
        background-color: initial;
    }
}

@media print {
    header {
        background-color: transparent;
        border-bottom: none;
    }

    .logo h1 {
        color: black;
        font-size: 1rem;
    }

    .logo img {
        width: 2em;
    }
}